/* footer */

footer {
    background: #2b3d1a;
    padding: 16px 0;
    color: #eee;
    margin-top: 50px;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer small {
    font-size: 16px;
  }
  
  footer li i {
    font-size: 24px;
  }
  
  footer ul {
    display: flex;
  }
  
  footer li + li {
    margin-left: 8px;
  }