
.products {
  padding: 10px 0;
}

.products ul {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.products li {
  width: calc((100% - 16px) / 2);
}

.products li img {
  width: 100%;
}

.products li h2 {
  font-size: 20px;
  margin-top: 8px;
}

.products li a {
  display: block;
}

.products .more {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 32px auto 0;
}

