/* common */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(223, 255, 178);
}

h1{
  margin: 0;
}

h2{
  margin: 0;
}

p {
  margin: 0;
  font-weight: bold;
  margin-bottom: 2px;
}

img {
  vertical-align: bottom;
}

.section-title{
  text-align: center;
  background-color: rgb(200, 255, 140);
}

.contents-title{
  font-size: 24px;
}

.container {
  margin: 0 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
}

a:hover {
  opacity: .5;
}

#to_top {
  position: fixed;
  bottom: 60px;
  right: 16px;
  opacity: 0.8;
}

#to_top i {
  font-size: 32px;
  color: #375224;
}

.btn {
  display: block;
  width: 160px;
  padding: 8px 0;
  border-radius: 6px;
  font-weight: bold;
  background: #4ba8e6;
  color: rgb(2, 0, 65);
  text-align: center;
  border: 3px solid #333;
  box-shadow: 0 5px #46433c;
  opacity: 1;

}

.btn:hover{
  opacity: 0.8;
  transition: color 0.01s;
  cursor: pointer;
}

.btn:active{
  position: relative;
  top: 5px;
  box-shadow: none;
  opacity: 1;
}

.kotira{
  color:blue;
  border-bottom: 2px solid #000;
  font-weight:bold
}

.mini-title{
  margin:40px 0 5px;
  background-color: rgba(135, 181, 255,0.4);
}

/* header */

header {
  padding: 8px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.scrolled {
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

header ul {
  display: flex;
}

header li a {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}

header li a i {
  font-size: 18px;
}

header li + li {
  margin-left: 8px;
}

header form {
  display: none;
}

header input,header button {
  all: unset;
}

header input {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 300px;
}

header button {
  cursor: pointer;
}

/* 一応残してる */
.color1{
  color:#59a5ed;
  background-color: rgba(238, 238, 238, 0.415);
  font-weight: bold;
}

.color2{
  color:#000000;
  background-color: rgba(238, 238, 238, 0.415);
  font-weight: bold;
}

.color3{
  color:#28de31;
  background-color: rgba(238, 238, 238, 0.415);
  font-weight: bold;
}

.color4{
  color:#ab10da;
  background-color: rgba(238, 238, 238, 0.415);
  font-weight: bold;
}

.normal{
  font-weight: normal;
}


/*event product*/
/* products */

.products {
  padding: 10px 0;
}

.products ul {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.products li {
  width: calc((100% - 16px) / 2);
}

.products li img {
  width: 100%;
}

.products li h2 {
  font-size: 20px;
  margin-top: 8px;
}

.products li a {
  display: block;
}

.products .more {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 32px auto 0;
}

.fixed{
  margin: 100px 40px;
}

/* sns */
.icon {
  font-size: 60px;
  padding-left: 20px;
}

.twitch{
  color: rgb(198, 3, 232);
}

.twitter{
  color:#4ba8e6;
}

.youtube{
  color: red;
}

.discord{
  color: rgb(141, 80, 255);
}

.other{
  color:rgb(92, 62, 100)
}


/* footer */

footer {
  background: #2b3d1a;
  padding: 16px 0;
  color: #eee;
  margin-top: 50px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer small {
  font-size: 16px;
}

footer li i {
  font-size: 24px;
}

footer ul {
  display: flex;
}

footer li + li {
  margin-left: 8px;
}


/* medium screen */

@media (min-width: 600px) {
  .products li {
    width: calc((100% - 32px) / 3);
  }

  .mini-title{
    margin:40px 20px 5px;
  }
}

/* large screen */

@media (min-width: 920px) {
  .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 920px;
  }

  header form {
    display: block;
  }

  .mini-title{
    margin:40px 320px 5px;
  }
}
