
.color5{
  color:red;
  background-color: rgba(238, 238, 238, 0.415);
  font-weight: bold;
  font-size: 20px;
}

.move{
  opacity: 0;
  transform:translateY(50px);
  transition: opacity .7s, transform .7s;
}

.move.l-slide{
  transform: translateX(-50px);
  margin-bottom: 64px;
}

.move.r-slide{
  transform: translateX(50px);
  margin-bottom: 64px;
}

.move.appear{
  opacity: 1;
  transform:none;
}

.features{
  padding: 64px 0;
  overflow: hidden;
}

.table{
  margin: 0 auto;
  margin-bottom: 60px;
  overflow-x:scroll;
}

.desc, .pic{
  width:50%;
}

/* medium screen */

@media (min-width: 600px) {

  .desc .pic{
    width: 50%;
  }
}

/* large screen */

@media (min-width: 920px) {
  
  .features section{
    display: flex;
  }

}
