/* footer */
.footer {
  background-color: rgb(66, 96, 45);
}

.footer-contents-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-contents-container p,  .icons {
  margin: 0;
}

.icons {
  list-style: none;
  display: flex;
  gap: 30px;
}

.icons li :hover {
  color: rgb(210, 172, 121);
}


.footerText {
  padding-left: 10vw;
}

.footerText:hover {
  color: rgb(210, 172, 121);
}

@media screen and (max-width: 599px){
  .footer-contents-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footer p{
    font-size: 10px;
  }

  .icons {
    list-style: none;
    display: flex;
    gap: 15px;
  }

  .icons svg{
    width: 20px;
    height: 20px;
  }

  .footerText {
    display: none;
  }
}