/* footer */
.footer {
  background-color: rgb(67, 102, 68);
}

.footer-contents-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-contents-container p,  .icons {
  margin: 0;
}

.icons {
  list-style: none;
  display: flex;
  gap: 30px;
}

.icons li :hover {
  color: rgb(172, 216, 185);
}


.footerText {
  padding-left: 10vw;
}

.footerText:hover {
  color: rgb(172, 216, 185);
}
