.igusa-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000000;
  align-items: end;
  padding: 30px;
  animation-fill-mode: forwards;
}

.igusa-wrapper.show {
  animation-name: backgroundFadeIn;
  animation-duration: .5s;
}

.igusa-container {
  height: 600px;
  display: flex;
}

.igusa-maru{
  position: fixed;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background-color: #ffffff3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .igusa-maru p {
  position: absolute;
}

.igusa-maru:hover {
  animation:shake 0.4s ease;
}

.kyuusu {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.igusa-maru p {
  font-weight: 1000;
  font-size: 20px;
  margin: 0;
  color: white;
  top:42%;
  cursor: pointer;
}

.igusa {
  display: flex;
  align-items: center;
}

.igusa-img {
  width: 300px;
  flex: 0 0 auto;
  align-self: end;
  height: auto;
  position: relative;
}

.igusa-text-container {
  position: relative;
  max-width: 240px;
  padding: 16px;
  background-color: rgb(156,190,166);
  border-radius: 8px;
  align-self: start;
}

.igusa-text-container:before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 20%;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 16px solid rgb(156, 190, 166);
  border-bottom: 16px solid transparent;
}

.igusa-wrapper.show .igusa {
  animation-name: characterFadeIn;
  animation-duration: 1.5s;
}


/* スマホの場合 */
@media screen and (max-width: 599px) {
  .igusa-wrapper{
    padding: 5px;
    justify-content: center;
  }

  .igusa-container {
    left: 5px;
    height: 75%;
  }

  .igusa-maru {
    width: 70px;
    height: 70px;
  }

  .kyuusu {
    width: 60px;
    height: 60px;
    z-index: 1;
  }
  
  .igusa-maru p {
    font-weight: 1000;
    font-size: 13px;
    margin: 0;
    z-index: 2;
    color: white;
  }

  .igusa {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .igusa-container .igusa-img {
    width: 200px;
  }

  .igusa-text-container {

  }

  .igusa-text-container:before{
    left: 70%;
  }
}

@keyframes characterFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes backgroundFadeIn {
  0% {
    background-color: #00000000;
  }

  100% {
    background-color: #0000004b;
  }
}

.visible {
  display: none;
}

@keyframes shake {
  0%   { transform:rotate(0); }
  /* 16%  { transform:rotate(12deg); } */
  32%  { transform:rotate(-10deg); }
  /* 48%  { transform:rotate(8deg); } */
  64%  { transform:rotate(-6deg); }
  80%  { transform:rotate(4deg); }
  96%  { transform:rotate(-2deg); }
  100% { transform:rotate(0deg); }
}