.igusa-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000000;
  align-items: end;
  padding: 30px;
  animation-fill-mode: forwards;
}

.igusa-wrapper.show {
  animation-name: backgroundFadeIn;
  animation-duration: .5s;
}

.igusa-container {}

.igusa-maru {
  width: 100px;
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.igusa-container .igusa-img {
  width: 300px;
}

/* .igusa-text-container {
  background-color: rgb(156, 190, 166);
  border-radius: 5%;
  padding: 20px;
  width: 300px;
  height: 100%;
  font-weight: 500;
} */

/* .igusa {
  display: flex;
} */

.igusa {
  display: flex;
  align-items: center;
}

.igusa-img {
  flex: 0 0 auto;
  margin-right: 16px;
}

.igusa-text-container {
  position: relative;
  max-width: 240px;
  padding: 16px;
  background-color: rgb(156, 190, 166);
  border-radius: 8px;
}

.igusa-text-container:before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 20%;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 16px solid rgb(156, 190, 166);
  border-bottom: 16px solid transparent;
}

.igusa-text-container:after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 21%;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 14px solid rgb(156, 190, 166);
  border-bottom: 14px solid transparent;
}

.igusa-wrapper.show .igusa {
  animation-name: characterFadeIn;
  animation-duration: 1.5s;
}




/* スマホの場合 */
@media screen and (max-width: 599px) {
  .igusa-container {
    left: 5px;
  }

  .igusa-container .igusa-maru {

    width: 50px;
  }

  .igusa-container .igusa-img {
    width: 200px;
  }
}

@keyframes characterFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes backgroundFadeIn {
  0% {
    background-color: #00000000;
  }

  100% {
    background-color: #0000004b;
  }
}

.visible {
  display: none;
}