/* main-products*/
.main-products {
  padding-top: 150px;
}

.main-products .product-img-box, .main-products .product-text {
  width: 40vw;
  height: 50vh;
}

.main-products .product {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-products .product:nth-child(even) {
  flex-direction: row-reverse;
}

.main-products .product-text {
  width: 35vw;
}

.main-products .product-text h2 {
  font-family: 'Yuji Syuku', serif;
  font-size: 50px;
}

.main-products .product-text p {
  font-size: 20px;
}