
	/* mainPage */
main {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* products */
.products {
  margin-top: calc(100vh - 287px);
}

.product a {
  text-decoration: none;
  color: #000;
}

/* .product-img-box */
.product-img-box {
  display: flex;
  width: 40vw;
  border-radius: 20px;
  overflow: hidden;
}

.product-img-box .fill {
  width: 60%;
  background-color: rgb(164, 221, 231);
  display: inline-block;
}

.product-img-box img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  display: block;
}

.product-img-box .text-box {
  width: 40%;
  background-color: rgb(66, 102, 68);
  color: white;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}
