
/* sub-products */
.sub-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.sub-products .product {
  padding-bottom: 50px;
}

.sub-products .product-text {
  width: 25vw;
}

.sub-products .product-img-box {
  width: 25vw;
  height: 15vw;
}

.sub-products .product-img-box .text-box {
  font-size: 150%;
}

.sub-products .product h2 {
  text-align: center;
}

.sub-products .product-text h2 {
  font-family: 'Yuji Syuku', serif;
  font-size: 30px;
}

.sub-products .product-text {
  font-size: 16px;
}