/* products */
.products {
  padding-bottom: 50px;
}

.product a {
  text-decoration: none;
  color: rgb(13, 32, 13);
}

.product a:hover {
  color: #000;
}

/* sub-products */
.sub-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 939px;
  margin: 0 auto;
}

.sub-products::after {
  content: "";
  display: block;
  width: 30%;
}

.sub-products .product-img-box .text-box {
  font-size: 150%;
}

.sub-products .product h2 {
  text-align: center;
  margin: 15px 0;
}

.sub-products .product-text h2 {
  font-family: 'Yuji Syuku', serif;
  font-size: 30px;
}

.sub-products .product-text p {
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 0;
  text-align: center;
}

.product-img-box {
  width: 330px;
  height: 210px;
}

.product-text {
  width: 330px;
}

/* .product-img-box */
.product-img-box {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
}

.product-img-box .fill {
  width: 60%;
  filter: grayscale(0.6);
  display: inline-block;
}

.product-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-img-box .text-box .gara {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42602D;
}

.product-img-box .text-box {
  width: 40%;
  color: white;
  justify-content: center;
  align-items: center;
}

.product-img-box .text-box h3 {
  font-size: 25px;
  padding-left: 10px;
}


@media screen and (max-width: 599px) {
  .sub-products {
    padding-top: 50px;
    justify-content: center;
  }

  .sub-products .product-text h2 {
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
  }

  .sub-products .product-text p {
    font-size: 15px;
  }

  .product-img-box {
    width: 300px;
    height: 170px;
  }

  .product-text {
    width: 300px;
  }

  .sub-products::after {
    display: none;
  }

  .product-img-box .text-box h3 {
    font-size: 20px;
    padding-left: 10px;
  }
}