/* subtitle */
.subtitle-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.subtilte {
  position: relative;
  border-bottom: 5px solid rgb(187, 187, 187);
  width: 80vw;

}

.subtilte span {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 5px solid rgb(66,96,45);
  margin-bottom: -5px;
}


@media screen and (max-width: 599px) {
  .subtitle-container {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0;
  }

  .subtilte {
    width: 80vw;
  }

  .subtilte span {
    font-size: 17px;
  }
}