/* mainProducts*/
.mainProducts .mainProduct{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.mainProducts .mainProduct:nth-child(even){
  flex-direction: row-reverse;
}

/* .productImgBox */
.productImgBox{
  display: flex;
  width: 40vw;
  border-radius: 20px;
  overflow: hidden;
}
.productImgBox .fill{
  width: 60%;
  background-color:rgb(164, 221, 231);
  display: inline-block;
}
.productImgBox img{
  width: 100%;
  height: auto;
  opacity: 0.9;
  display: block;
}
.productImgBox .textBox{
  width: 40%;
  background-color:rgb(67, 102, 68) ;
  color: white;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}