@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

	/* mainPage */
.mainPage {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* products */
.products {
  margin-top: calc(100vh - 287px);
}

.products a {
  text-decoration: none;
  color: #000;
}

/* .productImgBox */
.productImgBox {
  display: flex;
  width: 40vw;
  border-radius: 20px;
  overflow: hidden;
}

.productImgBox .fill {
  width: 60%;
  background-color: rgb(164, 221, 231);
  display: inline-block;
}

.productImgBox img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  display: block;
}

.productImgBox .textBox {
  width: 40%;
  background-color: rgb(66, 102, 68);
  color: white;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mainProducts*/
.mainProducts {
  padding-top: 150px;
  padding-bottom: 100px;
  border-bottom: solid 2px rgba(67, 102, 68, 0.486);
}

.mainProducts .mainProduct {
  padding-top: 50px;
  display: flex;
  gap:60px;
  align-items: center;
}

.mainProducts .mainProduct:nth-child(even) {
  flex-direction: row-reverse;
}

.mainProductText h2{
  font-family: 'Yuji Syuku', serif;
  font-size: 50px;
}

.mainProductText p{
  font-size: 20px;
}