
.desc, .pic{
  width:50%;
}


.move{
  opacity: 0;
  transform:translateY(50px);
  transition: opacity .7s, transform .7s;
}

.move.l-slide{
  transform: translateX(-50px);
}

.move.r-slide{
  transform: translateX(50px);
}

.move.appear{
  opacity: 1;
  transform:none;
}

.features{
  padding: 64px 0;
  overflow: hidden;
}

