/* sns */
.icon {
  font-size: 60px;
  padding-left: 20px;
}

.twitch {
  color: rgb(198, 3, 232);
}

.twitter {
  color: #4ba8e6;
}

.youtube {
  color: red;
}

.discord {
  color: rgb(141, 80, 255);
}

.other {
  color: rgb(92, 62, 100)
}