/* 共通CSS */


/* body */
body {
  margin: 0;
}

/* span 文字の色や太さを変える */
.green {
  color: rgb(40, 94, 44);
}

.bold {
  font-weight: 600;
}

/* main */
main {
  background-color: #f2faf0;
  padding-left: 18vw;
  padding-right: 18vw;
}

/* subtitle-content サブタイトルの下の要素のｃｓｓ */
.subtitle-content p{
  font-size: 20px;
  margin: 0;
  line-height: 35px;
}

/* subcontent以外の画像のサイズを決める */
.subtitle-content .subtitle-img{
  width: 800px;
}