/* history */
.history-hero {
position: relative;
}

.history-hero-img {
  width: 100%;
  height: auto;
}

.history-hero-content-title {
  position: absolute;
  top: 0;
  right: 0;
  /* padding-top: 30px; */
  color: white;
  writing-mode: vertical-rl;
  letter-spacing: 25px;
  font-family: serif;
  text-shadow: 2px 2px 3px black;
  display: flex;
  flex-direction: column;
}

.history-hero-content-title {
  z-index: 100;
  text-align: end;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.history-hero-content-title h3 {
  font-size: 40px;
}

.history-hero-content-title h3:nth-child(1) {
  /* padding-right: 100px; */
  /* padding-top: 20px; */
}

.history-hero-content-title h3:nth-child(2) {
  margin: 0;
  /* padding-top: 320px; */
}



/* スマホの場合 */
@media screen and (max-width: 599px){
  .history-hero-content-wrapper {
    height: 200px;
    margin-bottom: 100px;

  }

  .history-hero-content-title {
    /* padding-top: 0px; */
    letter-spacing: 12px;
  }

  .history-hero-content-title h3 {
    font-size: 15px;
  }
  
  .history-hero-content-title h3:nth-child(1) {
    /* padding-right: 10px; */
    /* padding-top: 10px; */
  }
  
  .history-hero-content-title h3:nth-child(2) {
    margin: 0;
    /* padding-top: 130px; */
  }
  
}