/* history */
.warp-content-wrapper {
  height: 500px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
}

.warp-content-title {
  padding-top: 30px;
  color: white;
  writing-mode: vertical-rl;
  letter-spacing: 25px;
  font-family: serif;
  text-shadow: 2px 2px 3px black;
  display: flex;
  flex-direction: column;
}

.warp-content-title {
  z-index: 100;
}

.warp-content-title h3 {
  font-size: 40px;
}

.warp-content-title h3:nth-child(1) {
  padding-right: 100px;
  padding-top: 20px;
}

.warp-content-title h3:nth-child(2) {
  margin: 0;
  padding-top: 320px;
}


