/* subscription */
.LargeCategory-content {
  display: flex;
  gap: 3vh;
  padding-bottom: 50px;
}

.LargeCategory-container img {
  width: 500px;
}

.LargeCategory-container:nth-child(even) .LargeCategory-content {
  flex-direction: row-reverse;
}